[Unit]
Description=Starts Recording Programs
Requires=systemd-modules-load.service

[Service]
User=root
PIDFile=/var/run/remoteSender.pid
ExecStart=/home/pi/git/controlRecording/build/remoteSender -i 10.10.10.222

[Install]
WantedBy=multi-user.target
